/* Google font */
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap);

:root{
    --green:#bac34e;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {

    font-size: 62.5%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Quicksand";
        background: url(../images/dua.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
input {
    outline: none;
    border: none;
}
.container {
    background: white;
    width: 40rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
#errorUsername , #errorPassword , #errorEmail , #errorLoginuser{
    
    font-size: 1.5rem;
    color: rgb(248, 61, 61);
    margin: -1rem 1rem;
}
.header {
    color: var(--green);
    text-align: center;
}
.header__icon i {
    font-size: 7rem;
}
.header__title {
    font-size: 2rem;
}
.form {
    width: 100%;
}
.form > div {
    height: 5rem;
    margin: 1.5rem 0;
}
.form__username,
.form__password,
.form__email {
    display: flex;
}
.form__icon {
    font-size: 2rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ededed;
}
.form__icon i {
    color: var(--green);
}
.form__input {
    width: 100%;
    position: relative;
}
.form__input > input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    font-size: 1.7rem;
    color: #737171;
    background: #ededed;
    transition: background-color 0.4s;
}
.form__input:hover > input {
    background-color: var(--green);
}
.form__input > input:hover::placeholder{
    color: white;
}

.form__submit button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;
}
.form__submit button i {
    color: #615f5f;
    font-size: 3rem;
    transition: all 0.4s;
}
.form__submit button:hover {
    background: var(--green);
    transition: all 0.4s;
}
.form__submit button:hover i {
    color: white;
    transition: all 0.4s;
}



a{
    color: #615f5f;
    float: right;
    font-size: 1.5rem;
}
a:hover{
    color:white;
}
.member{
    height: 10px;
}
.signup{
    height: 10px;
}
.p{
    float: right;
    font-size: 1.5rem;
}
.a{
    float: left;
}
.login{
    
    display: grid;
    grid-template-columns: auto auto;
    
}
.container a:hover{
    background: var(--green);
}