@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --border:.1rem solid rgba(171, 170, 170, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
///
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: url(images/images/nhung-ai-khong-duoc-uong-tra-xanh.jpeg);
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: bisque;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .noi-dung{
    margin-right: 30px;
}

footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #615f5f;
    font-weight: 500;
    margin-bottom: 15px;
}


footer .container .noi-dung.about p{
    color: #999;
}

.social-icon{
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social-icon li a:hover{
    background: #f00;
}

.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.links h2{
    position: relative;
    color: #615f5f;
    font-weight: 500;
    margin-bottom: 15px;
}


.links{
    position: relative;
    width: 25%;
 }
 .links ul li{
     list-style: none;
 }
 .links ul li a{
     color: #999;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 }
.links ul li a:hover{
     color: var(--main-color);
 }

.contact h2{
    position: relative;
    color: #615f5f;
    font-weight: 500;
    margin-bottom: 15px;
}



.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #737171;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}




.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

















@media  (max-width: 768px){
    footer{
        padding: 40px;
        
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}
