@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(171, 170, 170, 0.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
    
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
   background: #fff;
   border-radius: 5rem;
}

section{
    padding: 1.5rem 7%;
    margin-top: 8%;
}
.heading{
    text-align: center;
    color: #615f5f;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #615f5f;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
    background: var(--main-color);
}
.header{
    background: white;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 10rem;
}
.header .navbar a{
    margin: 0 3rem;
    font-size: 2.5rem;
    color: #615f5f;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color: #615f5f;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;
}
 .header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: bisque;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: bisque;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    background: bisque;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    padding: 0 1.5rem;
}
.header .cart-items-container.active{
    right: 0;
}

 .header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-items-container .cart-item img{
    height: 7rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
} 
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.contact .row{
    display: flex;
    background: white;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 120%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #615f5f;
}
.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background: lightgrey;
    border: var(--borders);
}
.contact .row form .inputbox span{
    
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: bisque;
}
.contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #737171;
    text-transform: none;
    background: #ededed;
}
.contact .row form .inputbox input:hover{
    background: var(--main-color);
}
#textarea{
    background: #ededed;
}
#textarea:hover{
    background: var(--main-color);
}